.travelers span {
  font-weight: bolder;
}

.price {
  font-size: 24px;
}

.price span {
  font-weight: bolder;
}

.subtotal {
  font-size: 24px;
}

.subtotal span {
  font-weight: bolder;
}

.total span {
  font-weight: bolder;
}

.disclaimer {
  font-size: 0.8rem;
}

.cart-card {
  box-shadow: 0px 0px 15px 1px rgba(158, 158, 158, 0.493);
  transition: all 0.3s ease-in-out;
}

.cart-card:hover {
  box-shadow: 0px 0px 15px 1px rgba(98, 98, 98, 0.527);
}

.x-btn {
  width: fit-content;
}

.btn-danger {
  font-size: 22px;
}

.checkout {
  font-size: 22px;
}
