.cart-image {
  height: 150vh !important;
}

.cart-container-height {
  height: 150vh !important;
}

.cart-card-container {
  top: 0;
  left: 0;
  z-index: 5 !important;
  height: 100% !important;
  outline: 0 !important;
}

.cart-dialog {
  padding-block: 18.5vh;
  width: auto;
  z-index: 5 !important;
  position: relative !important;
  pointer-events: none;
}

.cart-content {
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-clip: padding-box;
  outline: 0;
}

.price {
  font-size: 24px;
}

.price span {
  font-weight: bolder;
}

.subtotal {
  font-size: 24px;
}

.subtotal span {
  font-weight: bolder;
}

.total span {
  font-size: 2.5rem;
}

.disclaimer {
  font-size: 0.8rem;
}

.cart-card {
  box-shadow: 0px 0px 15px 1px rgba(158, 158, 158, 0.493);
  transition: all 0.3s ease-in-out;
}

.cart-card:hover {
  box-shadow: 0px 0px 15px 1px rgba(98, 98, 98, 0.527);
}

.x-btn {
  width: fit-content;
}

.form-check label {
  font-weight: 400;
}

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
  z-index: 50 !important;
  background: rgba(0, 0, 0, 0.5);
}

.dialog-deleted {
  width: 300px;
}

.dialog {
  padding-block: 3.5rem;
  padding-inline: 7.5rem;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

/* X-Small devices (landscape phones, 386px and up) */
@media (min-width: 386px) {
  .cart-image {
    height: 175vh !important;
    width: 100%;
    object-fit: cover;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cart-image {
    height: 165vh !important;
    width: 100%;
    object-fit: cover;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cart-image {
    height: 185vh !important;
    width: 100%;
    object-fit: cover;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cart-image {
    height: 165vh !important;
    width: 100%;
    object-fit: cover;
  }
}

/* XXL devices (desktop, 1400px and up) */
@media (min-width: 1400px) {
  .cart-image {
    height: 155vh !important;
    width: 100%;
    object-fit: cover;
  }
}
