.subscribe-modal-container {
  position: fixed !important;
  margin-top: 0 !important;
  height: 100vh !important;
  backdrop-filter: blur(4px);
  z-index: 9999 !important;
}

.modal-container {
  z-index: 9999 !important;
  display: "flex" !important;
  align-items: "center" !important;
  justify-content: "center" !important;
  min-height: "100vh" !important;
}
