.hero {
  margin-top: -116px;
}



/* .hero img {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
} */


/* .img-content {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
} */