#main {
  scroll-margin-top: 155px;
}

.hero-img {
  height: 100vh !important;
  width: 100%;
  object-fit: cover;
}

.carousel-control-prev {
  z-index: 2;
}

.carousel-control-next {
  z-index: 2;
}

.carousel-caption {
  top: 36vh;
  z-index: 3;
}

.carousel-caption h5 {
  font-weight: 500;
}

.carousel-chevron-down {
  height: 15vh;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #main {
    scroll-margin-top: 178px;
  }
}

/* XL devices (tablets, 1200px and up) */
@media (min-width: 1200px) {
  .carousel-chevron-down {
    height: 20vh;
  }
}
