.form-container-height {
  height: 150vh !important;
}

.form-card-container {
  /* position: fixed; */
  top: 0;
  left: 0;
  /* z-index: 5 !important; */
  height: 100% !important;
  /* overflow-x: hidden;
  overflow-y: auto; */
  outline: 0 !important;
}

.form-dialog {
  padding-block: 18.5vh;
  width: auto;
  z-index: 2 !important;
  position: relative !important;
  /* margin: 0.5rem; */
  pointer-events: none;
}

.form-content {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-clip: padding-box;
  outline: 0;
}

.bg-tr-form {
  background-color: hsla(0deg, 0%, 100%, 0.85);
}

label {
  font-weight: 500;
}

.termsContainer {
  font-weight: 400;
}

.terms {
  text-decoration: none;
}

/* Hide Arrows From Input Number: */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
}

/* 300px and up */
/* @media (min-width: 300px) {
  .form-container-height {
    height: 160vh !important;
  }
} */

/* 360px and up */
/* @media (min-width: 360px) {
  .form-container-height {
    height: 155vh !important;
  }
} */

/* 410px and up */
/* @media (min-width: 410px) {
  .form-container-height {
    height: 150vh !important;
  }
} */

/* Small devices (landscape phones, 768px and up) */
@media (min-width: 768px) {
  .form-container-height {
    height: 130vh !important;
  }
}

/* Medium devices (tablets, 1400px and up) */
@media (min-width: 1400px) {
  .form-container-height {
    height: 115vh !important;
  }
}
